
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-img src='./assets/main.png'></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-item>
          <ion-label position="floating"> Id </ion-label>
          <ion-input type="text">  </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-item>
          <ion-label position="floating"> Kata Laluan </ion-label>
          <ion-input type="text">  </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button expand="block" color="primary" routerLink="/utama"> LOG MASUK </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
